body{
    background-color: lightgray

}

.codigo{
    color: blue;
    font-size: 38px;
    text-align: center;

}

.listo{
    color: gray;
    font-size: 26px;
    text-align: justify;
}



.internacional{
    color: darkred;
    text-align: center;
    font-size: 38px;
}

.list{
    color:gray;
    font-size: 20px;
    text-align: justify;
}

.redac{
    color: white;
    font-size: 26px;
    text-align: end;
}