.bienv{
    color: red;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}
.distintivo{
    color: blue;
    font-size: 60px;
    text-align: center;
}

.mifoto{
    text-align: center;
}

.eqsl{
    text-align: center;
}

p{
    color: black;
    font-size: 20PX;
}
h2{
    text-align: center;
}



.qrz{
    color: red;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}

.clublog{
    text-align: center;
    color: cornflowerblue;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logclub{
    text-align: center;
}

.hrdlog{
    text-align: center;
    color: blue;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}