.bienv{
    color: red;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}
.distintivo{
    color: blue;
    font-size: 60px;
    text-align: center;
    background-color: burlywood;
}

.mifoto{
    text-align: center;
}
p{
    color: black;
    font-size: 28PX;
}
h2{
    text-align: center;
}



.qrz{
    text-align: center;
    color: red;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}