.bienv{
    color: red;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}
.distintivo{
    color: blue;
    font-size: 60px;
    text-align: center;
    background-color: burlywood;
}

.mifoto{
    text-align: center;
}